html {
	height: 100%;
	width: 100%;
}
	
body {
	margin: 0px;
	padding: 0px;
	
	height: 100%;
	width: 100%;
}

* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	outline: none;
}

#main {
	width: 100%;
	float: left;
	
	height: 100%;
}

#wrap {
	width: 950px;
	margin: 0 auto;
}

#wrap-sup {
	width: 950px;
	float: left;
}

#head {
	width: 100%;
	float: left;
	background: url(../images/top-bg.png) repeat-x;
	/*padding-bottom:36px;*/
}

#head-main {
	width: 950px;
	margin: 0 auto;
}

#head-sup {
	width: 950px;
	float: left;
}

#head-sup h1 {
	width: 166px;
	height: 22px;
	float: left;
	margin-top: 7px; /*27*/
}

#head-sup h1 a.logo {
	width: 166px;
	height: 22px;
	float: left;
}

ul#menu {
	width: 360px;
	float: right;
	margin-top: 2px; /*20*/
}

ul#menu li {
	width: auto;
	float: right;
	list-style: none;
	margin-left: 38px;
}

ul#menu li a,ul#menu li a.active {
	width: auto;
	float: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #1c2d3e;
}

ul#menu li a:hover,ul#menu li a.active {
	border-bottom: #5187ba solid 2px;
}

#center {
	width: 100%;
	float: left;
	background: url(../images/bannerbg.png) repeat-x;
}

#center-main {
	width: 950px;
	margin: 0 auto;
}

#center-sup {
	width: 950px;
	float: left;
}

#center-sup h3 {
	width: 500px;
	float: left;
}

#bannertop {
	width: 875px;
	float: left;
	height: 342px;
	padding: 22px 19px;
	margin: 20px 0 21px 31px;
	/*background: url(../images/banner.png) no-repeat;*/
}

.banner {
	width: 875px;
	float: left;
}

.bannerlft {
	width: 613px;
	float: left;
	margin-top: 107px;
	margin-left: 15px;
	border-right: #0c0c0d solid 1px;
}

.bannerlft h2 {
	width: 239px;
	height: 22px;
	float: left;
	background: url(../images/product-title.png) no-repeat;
}

.bannerlft p {
	width: 576px;
	float: left;
	margin-top: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #1c2d3e;
	line-height: 20px;
	padding-bottom: 38px;
}

.bannerrht {
	width: 182px;
	float: left;
	margin-top: 109px;
}

.bannerrht h3 {
	width: 142px;
	height: 22px;
	background: url(../images/x-block.png) no-repeat;
	margin-left: 33px;
}

.bannerrht h3 span {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #292929;
	font-weight: normal;
	margin-left: 40px;
}

#dounload {
	width: 200px;
	float: left;
	height: 61px;
	font-family: 10px;
	margin-top: 30px;
	background: url(../images/curly.png) no-repeat 53px 10px;
	margin-left: 30px;
}

#dounload img {
	width: auto;
	float: left;
}

#dounload a.demo {
	width: 72px;
	float: left;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15px;
	color: #4d84b6;
	margin-top: 8px;
	margin-left: 20px;
	height: 43px
}

#dounload a.buynow {
	width: 72px;
	float: left;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15px;
	color: #4d84b6;
	margin-left: 20px;
	margin-top: -15px;
}

#centermid {
	width: 100%;
	float: left;
	background: url(../images/centerbg.png) repeat-x;
}

#centermid-main {
	width: 950px;
	margin: 0 auto;
}

#centermid-sup {
	width: 950px;
	float: left;
}

#centermid-suplft {
	width: 604px;
	float: left;
	margin-top: 39px;
}

#centermid-suplft.bg {
	background: #467db1;
	padding-bottom: 30px;
}

#centermid-suplft a.more {
	width: 100%;
	float: left;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #285d90;
}

#container-4 {
	width: 604px;
	float: left;
}

#container-4 h3 {
	width: 193px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	color: #292929;
	background: url(../images/yellow-star.png) no-repeat right 0;
	margin-top: 27px;
	font-weight: normal;
	margin-left: 15px;
}

#container-4 h3 span {
	font-size: 12px;
}

#container-4 p {
	width: 265px;
	float: left;
	margin: 18px 0 0 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #8b8989;
	line-height: 21px;
	text-align: justify;
}

#container-4 p.parawidth {
	width: 560px;
	margin: 10px 0 0 15px;
}

#container-4 img {
	width: auto;
	float: left;
}

#fragment-10 {
	width: 100%;
	float: left;
	margin-top: 0px;
}

#fragment-11 {
	width: 100%;
	float: left;
}

#fragment-10lft {
	width: 276px;
	float: left;
}

#centermid-suplft h4 {
	width: 100%;
	float: left;
	margin-top: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #292929;
	font-weight: normal;
}

#fragment-11lft {
	width: 276px;
	float: left;
}

#fragment-12 {
	width: 100%;
	float: left;
}

#fragment-12lft {
	width: 276px;
	float: left;
}

#fragment-13 {
	width: 100%;
	float: left;
}

#fragment-13lft {
	width: 276px;
	float: left;
}

#centermid-suplft h4 {
	width: 100%;
	float: left;
	margin-top: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #292929;
	font-weight: normal;
}

#centermid-suplft h4.contact {
	background: url(../images/contents2.png) no-repeat;
	color: #fff;
	text-indent: 50px;
	height: 40px;
	margin-left: 15px;
}

#centermid-suplft h4.abtteam {
	background: url(../images/team2.png) no-repeat left;
	text-indent: 40px;
	height: 33px;
}

#centermid-suplft h4.nomar {
	margin-top: 0px;
	background: url(../images/person.png) no-repeat left;
	text-indent: 35px;
	height: 33px
}

#centermid-suplft h4 {
	width: 100%;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #292929;
	margin-top: 10px;
}

#centermid-suplft h5 {
	width: 100%;
	float: left;
	margin-top: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #292929;
	font-weight: normal;
}

#centermid-suplft h5.nomar {
	margin-top: 0px;
	background: url(../images/services.png) no-repeat left;
	text-indent: 35px;
	height: 33px
}

#centermid-suplft p.blogpara {
	width: 600px;
	float: left;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #292929;
	background: url(../images/blogbg.png) repeat-x;
	padding: 2px;
}

#centermid-suplft p.blogpara a.post {
	text-decoration: underline;
	color: #292929;
}

#centermid-suplft h2 {
	width: 100%;
	float: left;
	margin-top: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #292929;
	font-weight: normal;
}

#centermid-suplft h2.nomar {
	margin-top: 0px;
	background: url(../images/blog_compose.png) no-repeat left;
	text-indent: 40px;
	height: 33px
}

#centermid-suplft h5.abtteam {
	background: url(../images/team2.png) no-repeat left;
	text-indent: 30px;
	height: 33px;
}

#centermid-suplft p.btmpara {
	width: 100%;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #8b8989;
	line-height: 21px;
	margin-top: 22px;
}

#centermid-suplft p.btmpara.color {
	width: 550px;
	color: #fff;
	margin-left: 20px;
}

#centermid-suplft p.teampara {
	width: 400px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #8b8989;
	line-height: 21px;
	margin-top: 18px;
	margin-left: 20px;
}

ul.list {
	width: 235px;
	float: left;
	margin-top: 20px;
}

ul.list.martop {
	margin-top: 5px;
}

ul.list li {
	width: 100%;
	float: left;
	list-style: none;
}

ul.list li a {
	width: auto;
	height: 13px;
	margin-top: 13px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #8b8989;
	line-height: 16px;
	text-indent: 21px;
	background: url(../images/star.png) no-repeat left 50%;
}

ul.list li a:hover {
	color: #487db0
}

#centermid-suplft img {
	width: auto;
	float: left;
	margin-top: 30px;
	margin-left: 43px;
}

#centermid-suplft img.tab {
	width: auto;
	float: left;
	margin: 0px 0 0 0;
}

#centermid-suplft img.blog {
	width: auto;
	float: left;
	margin-top: 10px;
	margin-left: 0px;
}

#centermid-suplft img.abt {
	margin-top: 20px;
	width: auto;
	float: left;
	margin-left: 0px;
}

#centermid-suplft img.con {
	width: auto;
	float: left;
	margin-top: 20px;
	margin-left: 13px;
}

#centermid-suprht {
	width: 307px;
	float: left;
	margin-top: 39px;
	margin-left: 39px;
}

#centermid-suprht p.conpara {
	width: 150px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #8b8989;
	margin-top: 20px;
}

#centermid-suprht img {
	width: auto;
	float: left;
	margin-top: 10px;
}

#centermid-suprht h4 {
	width: 100%;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #292929;
	font-weight: normal;
}

#centermid-suprht h4.marless {
	margin-top: 50px;
}

#centermid-suprht h4.mar {
	margin-top: 87px;
}

ul#blog {
	width: 100%;
	float: left;
}

ul#blog li {
	width: 100%;
	float: left;
	list-style: none;
}

ul#blog li h5 {
	width: 100%;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #292929;
	font-weight: normal;
	margin-top: 17px;
}

ul#blog li h5 a {
	width: auto;
	float: left;
	color: #292929;
}

ul#blog li p {
	width: 100%;
	float: left;
	margin-top: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #8b8989;
	line-height: 21px;
}

#centermid-suprht p {
	width: 100%;
	float: left;
	margin-top: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #8b8989;
	line-height: 21px;
}

#centermid-suprht p.number {
	font-size: 26px;
}

#centermid-suprht h3 {
	width: 100%;
	float: left;
	margin-top: 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #292929;
	font-weight: normal;
	margin-bottom: 1px;
}

#btmtext {
	width: 100%;
	float: left;
	background: rgb(81, 135, 186);
	margin-top: 0px; /*80px*/
	position: absolute;
	bottom: 0px;
	padding-top: 0;
}

#btmtext-home {
	width: 100%;
	float: left;
	background: #376d9f;
	position: absolute;
	bottom: 0px;
	padding-top: 0;
}

#btmtext-main {
	width: 950px;
	margin: 0 auto;
}

#btmtext-sup {
	width: 950px;
	float: left;
	padding-bottom: 43px;
}

#btmtext-suplft {
	width: 211px;
	float: left;
	margin-top: 41px;
}

#btmtext-supmid {
	width: 404px;
	float: left;
	margin-left: 66px;
	margin-top: 41px;
}

#btmtext-supmid p {
	width: 100%;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #d6dee6;
	line-height: 21px;
	margin-top: 15px;
}

#btmtext-sup h4 {
	width: 100%;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #d6dee6;
	font-weight: normal;
	border-bottom: #669bcc solid 1px;
	padding-bottom: 10px;
	text-transform: uppercase
}

#btmtext-sup h4.moremar {
	margin-top: 23px;
}

ul#list2 {
	width: 100%;
	float: left;
	margin-top: 12px;
}

ul#list2 li {
	width: 100%;
	float: left;
	list-style: none;
	margin-top: 12px;
}

ul#list2 li a {
	width: auto;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #d6dee6;
}

ul#list2 li a:hover {
	color: #ffffff;
}

#btmtext-suprht {
	width: 217px;
	float: left;
	margin-left: 52px;
	margin-top: 41px;
	padding: 0;
}

#btmtext-suprht img {
	width: auto;
	float: left;
	margin-top: 20px;
}

#btmtext-suprht input[type="text"] {
	width: 168px;
	height: 22px;
	\height: 19px;
	background: #e1e9f1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #22374b;
	float: left;
	padding: 5px 0 5px 5px;
	\padding: 8px 0 5px 5px;
	margin: 15px 0px 0 0px;
	border: 0;
}

#btmtext-suprht input.btn {
	width: 43px;
	height: 32px;
	float: left;
	border: none;
	cursor: pointer;
	color: #cc9e61;
	background: #e1e9f1 url(../images/goline.png) no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
	margin: 15px 0px 0 0px;
}

#btmtext-suprht input.btn:active {
	background-position: 3px 65%;
}

#footer {
	width: 950px;
	float: left;
	margin-top: 36px;
	/*background: url(../images/footerline.png) no-repeat;*/
}

#footer-workspace {
	width: 950px;
	float: left;
	margin-top: 0px;
}

ul#nav {
	width: 100%;
	float: left;
	margin-top: 20px;
}

ul#nav li {
	width: auto;
	float: left;
	list-style: none;
}

ul#nav li.space {
	width: auto;
	float: left;
	padding: 0 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #d6dee6;
	line-height: 16px;
}

ul#nav li a {
	width: auto;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #d6dee6;
	line-height: 16px;
}

#footer p {
	width: 100%;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #d6dee6;
	margin-top: 10px;
}

#footer p a.template {
	color: #d6dee6;
}

#footer-workspace p {
	width: 100%;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #d6dee6;
	margin-top: 10px;
}

#footer-workspace p a.template {
	color: #d6dee6;
}

#centermid-suplft input {
	width: 245px;
	float: left;
	height: 24px;
	border: #fff solid 1px;
	margin: 30px 0 0 20px;
	background: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
	padding-left: 5px;
}

#centermid-suplft input:hover {
	background: #375f85;
}

#centermid-suplft .text {
	width: 513px;
	height: 100px;
	float: left;
	margin: 20px 0 0 20px;
	border: #fff solid 1px;
	background: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
	padding-left: 5px;
}

#centermid-suplft .text:hover {
	background: #375f85;
}

#centermid-suplft input.submit {
	width: auto;
	float: left;
	background: #e1e9f1;
	color: #22374b;
	padding: 0px;
	cursor: pointer;
	margin-left: 20px
}

#container {
	margin: 0px;
	display: block;
	position: relative;
	top: 0px;
	left: 0px;
	text-align: left;
	width: 875px;
	height: 342px;
	padding: 0 0px 0 0px;
	margin: 0px;
	float: left;
	border: 0px;
}

#slider {
	width: 875px;
	height: 342px;
	margin: 0 0 0 25px;
	padding: 0 0px 0 0px;
	display: block
}

#slider ul,#slider li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	width: 875px;
	height: 342px;
}

#slider ul li { /* 
define width and height of list item (slide)
entire slider area will adjust according to the parameters provided here
*/
	width: 830px;
	height: 342px;
	overflow: hidden;
	outline: 0px;
	border: 0px;
}

#prevBtn,#nextBtn {
	display: block;
	width: 31px;
	height: 26px;
	position: absolute;
	left: -640px;
	top: -10px;
}

#nextBtn {
	left: 590px;
}

#prevBtn a,#nextBtn a {
	display: block;
	width: 13px;
	height: 13px;
	position: absolute;
	z-index: 10;
	left: 685px;
	top: 300px;
	text-indent: -9999px;
	background: url(../images/prev.png) no-repeat;
}

#nextBtn a {
	background: url(../images/next.png) no-repeat;
	left: -525px;
}

/* // Easy Slider */
ul.banner {
	width: 875px;
	height: 342px;
	float: left;
	background: url(../images/banner.png) no-repeat;
}

.topMar {
	margin-top: 104px;
}

/* From style_3d.css */
span.inputWrap {
	display: block;
	float: left;
	width: 195px;
	height: 34px;
	background: url(../images/bg-input.gif) no-repeat top left;
	position: relative;
	margin: 0px 0px 10px 0px;
}

span.textWrap {
	display: block;
	float: left;
	width: 385px;
	height: 124px;
	background: url(../images/bg-textarea.gif) no-repeat top left;
	position: relative;
	margin: 0px 5px 10px 0px;
}

span.inputWrap input {
	display: block;
	position: absolute;
	width: 178px;
	height: 24px;
	padding: 5px 7px;
	background: none !important;
	border: none !important;
	font-family: Arial, sans-serif;
	color: gray;
	font-size: 13px;
	font-weight: bold;
}

span.textWrap textarea {
	display: block;
	position: absolute;
	width: 375px;
	height: 104px;
	padding: 10px 5px;
	background: none !important;
	border: none !important;
	font-family: Arial, sans-serif;
	color: gray;
	font-size: 13px;
	font-weight: bold;
}

/* End of styles form style_3d.css */
/* External Styles */
a.shortbutton {
	background: url("../images/button.png") no-repeat scroll -123px 0
		transparent;
	color: #FFFFFF;
	float: left;
	font-family: "Trebuchet MS";
	font-size: 10px;
	height: 20px;
	line-height: 14px;
	margin: 0;
	padding: 4px 0 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 53px;
	cursor: pointer;
}

a.shortbutton:active {
	background: url("../images/buttonHover.png") no-repeat scroll -123px 0
		transparent;
}

a.button {
	background: url("../images/more.png") no-repeat scroll;
	color: white;
	float: left;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-style: normal;
	padding: 4px 0 0;
	height: 39px;
	line-height: 32px;
	*line-height: -1px;
	_line-height: -1px;
	/*margin-left: 50px;
	margin-top: 260px;*/
	text-align: center;
	width: 82px;
}

a.button-err {
	background: url("../images/more-err.png") no-repeat scroll;
}

a.button:active {
	background-position: 0 1px;
}

.jScrollPaneContainer {
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.jScrollPaneTrack {
	background: url("../images/track.png") repeat-y scroll 0 0 transparent;
	cursor: pointer;
	height: 100%;
	left: 238px;
	position: absolute;
	top: 0;
	width: 1px;
}

#news {
	float: left;
	width: 242px;
}

.scroll-pane {
	float: left;
	height: 220px;
	overflow: auto;
	width: 188px;
}

/* End of External styles */
.easing-visibility {
	position: relative;
	display: block;
}

.login-container {
	margin-left: 220px;
	_margin-left: 0px;
}

.opacity-50 {
	opacity: .50;
	filter: alpha(opacity =       50);
}

.chart-options {
	position: absolute;
	z-index: 1;
	width: 50%;
	padding-top: 400px;
	margin-left: 25%;
	text-align: center;
}

.chart-option-icon {
	height: 40px;
	width: 40px;
	cursor: pointer;
}

.body {
	background: url(../images/bannerbg.png) repeat-x repeat-y;
}

.awesome1 {
	background: #222 url(../images/alert-overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-family: "Trebuchet MS";
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); 
	-webkit-box-shadow : 0 1px 3px rgba( 0, 0, 0, 0.5); 
	text-shadow : 0 -1px 1px rgba( 0, 0, 0,	0.25); 
	border-bottom : 1px solid rgba( 0, 0, 0, 0.25);
	position: relative;
	cursor: pointer;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.awesome {
	background: #222 url(../images/alert-overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-family: "Trebuchet MS";
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-bottom : 1px solid rgba( 0, 0, 0, 0.25);
	position: relative;
	cursor: pointer;
}

.small.awesome {
	font-size: 11px;
}

.medium.awesome {
	font-size: 13px;
}

.large.awesome {
	font-size: 14px;
	padding: 8px 14px 9px;
}

/* Colors ---------- */
.blue.awesome {
	background-color: #2daebf;
}

.red.awesome {
	background-color: #e33100;
}

.magenta.awesome {
	background-color: #a9014b;
}

.orange.awesome {
	background-color: #ff5c00;
}

.yellow.awesome {
	background-color: #ffb515;
}

.awesome:hover {
	background-color: #111;
	color: #fff;
}

.awesome:active {
	top: 1px;
}

.small.awesome,.small.awesome:visited {
	font-size: 11px;
	padding: ;
}

.awesome,.awesome:visited,.medium.awesome,.medium.awesome:visited {
	font-size: 13px;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

.large.awesome,.large.awesome:visited {
	font-size: 14px;
	padding: 8px 14px 9px;
}

.green.awesome,.green.awesome:visited {
	background-color: #91bd09;
}

.green.awesome:hover {
	background-color: #749a02;
}

.blue.awesome,.blue.awesome:visited {
	background-color: #2daebf;
}

.blue.awesome:hover {
	background-color: #007d9a;
}

.red.awesome,.red.awesome:visited {
	background-color: #e33100;
}

.red.awesome:hover {
	background-color: #872300;
}

.magenta.awesome,.magenta.awesome:visited {
	background-color: #a9014b;
}

.magenta.awesome:hover {
	background-color: #630030;
}

.orange.awesome,.orange.awesome:visited {
	background-color: #ff5c00;
}

.orange.awesome:hover {
	background-color: #d45500;
}

.yellow.awesome,.yellow.awesome:visited {
	background-color: #ffb515;
}

.yellow.awesome:hover {
	background-color: #fc9200;
}

ul#submenu {
	float: right;
	margin-top: 5px;
	width: auto;
}

ul#submenu li {
	width: auto;
	float: right;
	list-style: none;
	margin-left: 10px;
}

.workground {
	margin-top: -5px;
	width: 100%;
	float: left;
	height: 96%;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-bottom : 1px solid rgba( 0, 0, 0, 0.25);
	position: relative;
}

.shadow {
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); 
	-webkit-box-shadow : 0 1px 3px rgba( 0, 0, 0, 0.5); 
	text-shadow : 0 -1px 1px rgba( 0, 0, 0,	0.25); 
	
}

label {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: 12px;
}

.transparency-10 {
	opacity:0.1;
	filter:alpha(opacity=10)
}

.transparency-20 {
	opacity:0.2;
	filter:alpha(opacity=20)
}

.no-border {
	border: 0px;
}